.draw-field {
    display: grid;
    grid-template-columns: repeat(128, auto)
}

.pixels {
    background-color: grey;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 4px;
    width: 10px;
    height: 10px;
}

.pixels--active {
    background-color: black;
}